<div id="app container">
  <nav class="navbar">
    <div class="col-md-6 col-md-offset-3">
      <search update-list="$ctrl.update(search)"></search>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-7">
      <video-player video="$ctrl.currentVideo" link="$ctrl.currentLink"></video-player>
      <!-- $ctrl.attribute -> $parentCtrl.currentlyPlaying -->
    </div>
    <div class="col-md-5">
      <video-list update-video-player="$ctrl.updateVideoPlayer" videos="$ctrl.videos"></video-list>
    </div>
  <div>
</div>
